.hdfs-browser {
    .ant-tree {
        font-size: 13px;

        .ant-tree-node-content-wrapper {
            &:hover {
                background-color: #e6f7ff;
            }
        }

        .ant-tree-node-selected {
            background-color: #bae7ff !important;
        }
    }

    .ant-table-cell {
        font-size: 13px;
    }
}
